@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: local('JetBrainsMono Nerd Font Mono'),
    url('./JetBrainsMono Nerd Font Mono/JetBrainsMono Nerd Font Mono-Thin.ttf') format('ttf');
    font-display: swap;
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: local('JetBrainsMono Nerd Font Mono'),
    url('./JetBrainsMono Nerd Font Mono/JetBrainsMono Nerd Font Mono-ThinItalic.ttf') format('ttf');
    font-display: swap;
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: local('JetBrainsMono Nerd Font Mono'),
    url('./JetBrainsMono Nerd Font Mono/JetBrainsMono Nerd Font Mono-ExtraLight.ttf') format('ttf');
    font-display: swap;
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: local('JetBrainsMono Nerd Font Mono'),
    url('./JetBrainsMono Nerd Font Mono/JetBrainsMono Nerd Font Mono-ExtraLightItalic.ttf') format('ttf');
    font-display: swap;
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: local('JetBrainsMono Nerd Font Mono'),
    url('./JetBrainsMono Nerd Font Mono/JetBrainsMono Nerd Font Mono-Light.ttf') format('ttf');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: local('JetBrainsMono Nerd Font Mono'),
    url('./JetBrainsMono Nerd Font Mono/JetBrainsMono Nerd Font Mono-LightItalic.ttf') format('ttf');
    font-display: swap;
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: local('JetBrainsMono Nerd Font Mono'),
    url('./JetBrainsMono Nerd Font Mono/JetBrainsMono Nerd Font Mono-Regular.ttf') format('ttf');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: local('JetBrainsMono Nerd Font Mono'),
    url('./JetBrainsMono Nerd Font Mono/JetBrainsMono Nerd Font Mono-Italic.ttf') format('ttf');
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: local('JetBrainsMono Nerd Font Mono'),
    url('./JetBrainsMono Nerd Font Mono/JetBrainsMono Nerd Font Mono-Medium.ttf') format('ttf');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: local('JetBrainsMono Nerd Font Mono'),
    url('./JetBrainsMono Nerd Font Mono/JetBrainsMono Nerd Font Mono-MediumItalic.ttf') format('ttf');
    font-display: swap;
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: local('JetBrainsMono Nerd Font Mono'),
    url('./JetBrainsMono Nerd Font Mono/JetBrainsMono Nerd Font Mono-SemiBold.ttf') format('ttf');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: local('JetBrainsMono Nerd Font Mono'),
    url('./JetBrainsMono Nerd Font Mono/JetBrainsMono Nerd Font Mono-SemiBoldItalic.ttf') format('ttf');
    font-display: swap;
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: local('JetBrainsMono Nerd Font Mono'),
    url('./JetBrainsMono Nerd Font Mono/JetBrainsMono Nerd Font Mono-Bold.ttf') format('ttf');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: local('JetBrainsMono Nerd Font Mono'),
    url('./JetBrainsMono Nerd Font Mono/JetBrainsMono Nerd Font Mono-BoldItalic.ttf') format('ttf');
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: local('JetBrainsMono Nerd Font Mono'),
    url('./JetBrainsMono Nerd Font Mono/JetBrainsMono Nerd Font Mono-ExtraBold.ttf') format('ttf');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: local('JetBrainsMono Nerd Font Mono'),
    url('./JetBrainsMono Nerd Font Mono/JetBrainsMono Nerd Font Mono-ExtraBoldItalic.ttf') format('ttf');
    font-display: swap;
    font-weight: 800;
    font-style: italic;
}