
/***********************************
    JetBrainsMono Nerd Font Mono
***********************************/
@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: url('/fonts/JetBrainsMonoNerdFontCompleteM-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: url('/fonts/JetBrainsMonoNerdFontCompleteM-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: url('/fonts/JetBrainsMonoNerdFontCompleteM-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: url('/fonts/JetBrainsMonoNerdFontCompleteM-ExtraBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: url('/fonts/JetBrainsMonoNerdFontCompleteM-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: url('/fonts/JetBrainsMonoNerdFontCompleteM-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: url('/fonts/JetBrainsMonoNerdFontCompleteM-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: url('/fonts/JetBrainsMonoNerdFontCompleteM-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: url('/fonts/JetBrainsMonoNerdFontCompleteM-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: url('/fonts/JetBrainsMonoNerdFontCompleteM-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: url('/fonts/JetBrainsMonoNerdFontCompleteM-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: url('/fonts/JetBrainsMonoNerdFontCompleteM-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: url('/fonts/JetBrainsMonoNerdFontCompleteM-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: url('/fonts/JetBrainsMonoNerdFontCompleteM-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: url('/fonts/JetBrainsMonoNerdFontCompleteM-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: url('/fonts/JetBrainsMonoNerdFontCompleteM-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/******************
    LXGW Bright
******************/
@font-face {
    font-family: 'LXGW Bright';
    src: url('/fonts/LXGW-Bright-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LXGW Bright';
    src: url('/fonts/LXGW-Bright-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LXGW Bright';
    src: url('/fonts/LXGW-Bright-Medium-Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LXGW Bright';
    src: url('/fonts/LXGW-Bright-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LXGW Bright';
    src: url('/fonts/LXGW-Bright-SemiLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LXGW Bright';
    src: url('/fonts/LXGW-Bright-SemiLight-Italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}


$global-font-family: 'LXGW Bright', Fira Mono, Source Code Pro, Menlo, Consolas, Monaco, monospace;
$code-font-family: 'JetBrainsMono Nerd Font Mono', Fira Mono, Source Code Pro, Menlo, Consolas, 'LXGW Bright', Monaco, monospace;

$global-line-height: 1.6rem;

